#navCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 100px 0 100px;
}

#navCon #LogoCon #Logo {
    height: 32px;
    width: 188px;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    min-width: 33%;
}

#navBar p {
    font-size: 15px;
    cursor: pointer;
}

#navCon #lk{
    text-decoration: none;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #434343;
    font-family: 'Red Rose', cursive;
}


button {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
    background: #A02279;
    color: #fff;
    border: none;
    border-radius: 10px;
    min-width: 100px;
    cursor: pointer;
}

button:hover  {
    color: #A02279;
    background: #fff;
    border: 1px solid #A02279;
}


/* ///////////LANDING SECTION//////// */

#landingCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px ;
}

h1 {
    margin-bottom: 0;
    color: #434343;
    font-weight: 400;
    font-size: 45px;
    font-family: 'Red Rose', cursive;
}

#landingProp p {
    font-size: 16px;
}

#landingProp {
    padding: 10px 0px 0px 0px;
}

#landingProp button {
    margin: 0;
    height: 45px;
    padding: 0px 27px;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

em {
    color: #A02279;
    font-weight: 700;
    font-style: normal;
}

#searchCon {
    margin-top: 40px;
}

input {
    height: 44px;
    border: 1px solid #A3A3A3;
    width: 390px;
    padding: 0px 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    margin: 0;
}

input::placeholder {
    font-family: 'Red Rose', cursive;
    font-size: 14px;
    font-weight: 400;
    color: #B8B8B8;
}

#landingCon #landing_image {
    height: 420px;
    width: 450px;
}


/* ///////////ADV SECTION//////// */

#advCon {
    padding: 5px 0px;
    background: #A02279;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#advCon img {
    height: 30px;
    width: 190px;
}


/* ///////////NFT SECTION//////// */

#inspCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 100px;
}

#inspCon h2 {
    margin: 0;
    text-align: center;
    color: #000;
    font-family: 'Red Rose', cursive;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;

}

#NFTrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-bottom: 20px;

}

#NFTcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
}


#NFTdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

#NFT_Image {
    height:280px ;
    width: 250px;
}

#NFTdetails p {
    font-size: 12px;
    color: #434343;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
}

#availability #MBT {
    font-weight: 700;
    color: #434343;
    Font-style: Bold
}


/* ///////////GIFT SECTION//////// */

#GiftCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 130px 50px 100px ;
    background: #A02279;
}

#GiftProp h1 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Red Rose', cursive;
}

#GiftProp p {
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.5px
}

#GiftProp {
    padding: 70px 0px 0px 0px;
}

#GiftProp button {
    margin: 0;
    margin-top: 5px;
    height: 45px;
    padding: 0px 27px;
    color: #A02279;
    background: #fff;
    border-radius: 8px;
}

#GiftProp button:hover {
    border: 1px solid #fff;
    background: #A02279;
    color: #fff;
}

#GiftCard {
    height: 480px;
    width: 580px;
}


/* ///////////FOOTER SECTION//////// */

#FooterCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px 10px;
    background: #1D1D1E;
}


#socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 30px 0;
}

#socialMedia #handle {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

#FooterCon h3 {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Red Rose', cursive;
    color: #fff;
    line-height: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

#Logo #Flogo {
    height: 35px;
    width: 170px;
}

#Logo #courtesy {
    font-size: 10px;
    color: #F7F7F7;
    line-height: 10px;
    cursor: pointer;
}

#FooterCon P {
    font-size: 8px;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
    color: #F1F3F9;
    line-height: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

#footerDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 100px 10px 50px;
    width: 70%;
}