#navCon {
    padding: 20px 50px;
}

#NavBtn {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
    background: #A02279;
    color: #fff;
    border: none;
    border-radius: 10px;
    min-width: 100px;
    cursor: pointer;
}

#NavBtn:hover  {
    color: #A02279;
    background: #fff;
    border: 1px solid #A02279;
}

.locc {
    text-decoration: none;
    color: #434343;
}


/* ///////////LANDING SECTION//////// */

#landingCon {
    padding: 0px 50px;
}


h1 {
    margin-bottom: 0;
    color: #434343;
    font-weight: 400;
    font-size: 45px;
    font-family: 'Red Rose', cursive;
}

#landingProp p {
    font-size: 16px;
    color: #434343;
    font-family: 'Red Rose', cursive;
}

#landingProp {
    padding: 0px;
}

#LdBtn {
    padding: 0px 27px;
    background: #A02279;
    color: #fff;
    border: none;
}

em {
    color: #A02279;
    font-weight: 700;
    font-style: normal;
}


input::placeholder {
    font-family: 'Red Rose', cursive;
    font-size: 13px;
    font-weight: 400;
    color: #B8B8B8;
}

 #landing_image {
    margin: 0;
    height: 370px;
    width: 400px;
}


/* ///////////ADV SECTION//////// */

#advCon {
    padding: 5px 0px;
    background: #A02279;
    justify-content: space-between;
    padding: 5px 70px;
}

#advCon img {
    height: 30px;
    width: 190px;
}


/* ///////////NFT SECTION//////// */

#inspCon h2 {
    margin: 0;
    text-align: center;
    color: #000;
    font-family: 'Red Rose', cursive;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;

}

#NFTcard {
    border-radius: 15px;
    padding: 10px;
}


#NFTcard  p {
    margin: -3px;
    font-size: 12px;
    line-height: 21px;
    color: #434343;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
}

#availability #MBT {
    font-weight: 700;
    color: #434343;
    Font-style: Bold
}


/* ///////////GIFT SECTION////////*/

#GiftCon {
    padding: 30px 70px 10px;
}

#GiftProp h1 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Red Rose', cursive;
}

#GiftProp p {
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.5px
}

#GiftProp {
    padding: 70px 0px 0px 0px;
}

#searchCon {
    margin: 0;
    margin-top: 5px;
    height: 45px;
    padding: 0px 27px;
    color: #A02279;
    background: #fff;
    border-radius: 8px;
    border: none;
}

#searchCon:hover {
    border: 1px solid #fff;
    background: #A02279;
    color: #fff;
}

#GiftCard {
    height: 480px;
    width: 580px;
}


/* ///////////FOOTER SECTION//////// */

 #FooterCon {
    padding: 30px 70px 10px;
}


#socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 40px 0;
}

#socialMedia #handle {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

#FooterCon h3 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Red Rose', cursive;
    color: #fff;
    line-height: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

#Logo #Flogo {
    height: 35px;
    width: 170px;
}

#Logo #courtesy {
    font-size: 10px;
    color: #F7F7F7;
    line-height: 10px;
    cursor: pointer;
}

#FooterCon P {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
    color: #F1F3F9;
    line-height: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
}




@media (max-width: 1024px) {


    
#navCon #Logo {
    height: 30px;
    width: 185px;
}

#locc, .locc {
    font-size: 12px;
}

    /* ///////////LANDING SECTION//////// */

    h1 {
        font-size: 30px;
    }

    #landingProp p {
        font-size: 12px;
    }

    #landingProp {
        padding: 10px 0px 0px 0px;
    }

    #landingProp button {
        margin: 0;
        height: 40px;
        padding: 0px 25px;
    }


    #searchCon {
        margin-top: 30px;
    }

    #landingCon #landing_image {
        height: 270px;
        width: 350px;
    } 


/* /////////////////////////////////// */

#inspCon h2 {
    font-size: 30px;

}


    /* ///////////GIFT SECTION//////// */

 #GiftCon {
    padding: 50px 70px ;
}

#GiftProp h1 {
    font-size: 35px;
}


#GiftCard {
    height: 300px;
    width: 330px;
}

}


/* ////////////// */
@media (max-width: 768px) {

    #navCon {
        padding: 25px 70px 0px;
    }
    
    #navCon #Logo {
        height: 20px;
        width: 100px;
    }

    #locc, .locc {
        font-size: 12px;
    }
    
    
    #NavBtn {
        font-size: 11px;
        cursor: pointer;
        padding: 7px 0px;
    }
    
    

    /* ///////////LANDING SECTION//////// */

    #landingCon {
        padding: 10px 70px 50px;
        margin-top: 0;
    }

    h1 {
        font-size: 23px;
    }

    #landingProp p {
        font-size: 11px;
    }

    #landingProp {
        margin: -10px 0px 0px 0px;
    }


    #searchCon {
        margin-top: 30px;
    }

    input::placeholder {
        font-size: 11px;
    }

    #landingCon #landing_image {
        height: 220px;
        width: 270px;
    }


/* ///////////NFT SECTION//////// */

#inspCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#inspCon h2 {
    margin: 0;
    text-align: center;
    color: #000;
    font-family: 'Red Rose', cursive;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;

}

#NFTdetails p {
    font-size: 10px;
    color: #434343;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
}

#availability #MBT {
    font-weight: 700;
    color: #434343;
    Font-style: Bold
}

    /* ///////////GIFT SECTION//////// */

#GiftCon {
    padding: 50px 70px ;
}

#GiftProp h1 {
    font-size: 25px;
}

#GiftProp p {
    font-size: 11px;
}

#GiftProp {
    padding:0px 0px 0px 0px;
}

#GiftProp button {
    margin-top: 0px;
    height: 28px;
    padding: 0px 15px;
    font-size: 12px;
}

#GiftCard {
    height: 220px;
    width: 250px;
}

}




@media (max-width: 480px) {
    #navCon {
        padding: 10px 30px 0;
    }
    
    #locc, .locc {
        display: none;
    }
    
    #navCon #Logo {
        height: 23px;
        width: 130px;
    }

    #landingCon {
        padding: 0px 30px;
    }
    

    #landingCon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }


    #advCon {
        padding: 5px 0px;
    }  

    
    #ady {
        align-items: center;
        width: 50%;
        margin: auto;
    }

    
#inspCon h2 {
    font-size: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}



    #GiftCon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    #FooterCon {
        flex-direction: column;
            padding: 30px 30px 10px;
    }

    #footerDetails  {
        flex-direction: column;
    }


    #uty {
        margin: 20px 0;
    }
}

