#NFTsCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 70px 50px;
}

#MenuCon {
    display: flex;
    flex-direction: r;
    justify-content: space-between;
    padding: 60px 70px 30px;
}

#MenuCon p {
    cursor: pointer;
}

#basic {
    width: 120px;
    margin-top: -10px;
}

#basic-addon2 {
    color: #B4B4B4;
    background: none;
    cursor: pointer;
}

#basic-addon2 img {
    align-items: center;
    width: 15px;
    height: 15px;
}

input::placeholder {
    font-size: 10px;
}



@media (max-width: 480px) {
    .locc, #MenuCon {
        display: none;
    }
}